.shapka-h{
	height: 60px;
}
.box-h{
	height: 850px
}
.box2-h{
	height: 550px;
	width: 1700px
}
.content{
	height: 500px
}
.img{
	height: 400px
}
.box3-h{
	height: 400px
}
.content2{
	height: 600px
}
.content-w{
	height: 500px
}
.button{
	border: 0px;
	border-radius: 3px;
	height: 30px
}
.img2{
	height: 200px;
	width: 270px
	 
}
.button{
	height: 300px
}
.corousel{
	width: 1280px;
	height: 780px
}